openapi: 3.2.0
info:
  title: OwnerRez API v2 Tag Definitions API
  description: The OwnerRez API v2 is a REST/JSON API for the OwnerRez vacation-rental and short-term-rental property management platform.
  version: '2.0'
  contact:
    name: OwnerRez
    url: https://www.ownerrez.com
  termsOfService: https://www.ownerrez.com/legal/terms
servers:
- url: https://api.ownerrez.com/v2
  description: OwnerRez API v2 (production)
security:
- basicAuth: []
- oauth2: []
tags:
- name: TagDefinitions
  description: Definitions of tags.
paths:
  /tagdefinitions:
    get:
      operationId: listTagDefinitions
      tags:
      - TagDefinitions
      summary: List tag definitions
      description: Returns the tag definitions.
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/TagDefinitionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTagDefinition
      tags:
      - TagDefinitions
      summary: Create a tag definition
      description: Creates a new tag definition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagDefinitionInput'
      responses:
        '200':
          $ref: '#/components/responses/TagDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /tagdefinitions/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getTagDefinition
      tags:
      - TagDefinitions
      summary: Retrieve a tag definition
      description: Retrieves a single tag definition by identifier.
      responses:
        '200':
          $ref: '#/components/responses/TagDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTagDefinition
      tags:
      - TagDefinitions
      summary: Update a tag definition
      description: Updates a tag definition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagDefinitionInput'
      responses:
        '200':
          $ref: '#/components/responses/TagDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTagDefinition
      tags:
      - TagDefinitions
      summary: Delete a tag definition
      description: Deletes a tag definition.
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Deleted:
      description: Deletion confirmation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteResponse'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TagDefinitionList:
      description: A page of tag definitions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagDefinitionPage'
    TagDefinition:
      description: A tag definition.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagDefinition'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        messages:
          type: array
          items:
            type: string
    DeleteResponse:
      type: object
      properties:
        id:
          type: integer
        success:
          type: boolean
    TagDefinitionPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/TagDefinition'
    TagDefinition:
      allOf:
      - $ref: '#/components/schemas/TagDefinitionInput'
      - type: object
        properties:
          id:
            type: integer
    Page:
      type: object
      description: Common pagination envelope returned by list endpoints.
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        nextPageUrl:
          type:
          - string
          - 'null'
    TagDefinitionInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        entity_type:
          type: string
        color:
          type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your OwnerRez API key / Personal Access Token as the username; the password is left blank.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Grant (RFC 6749 Section 4.1). Register an OAuth app in the OwnerRez Developer/API settings, send the user to the authorization URL, then exchange the returned code for an access token.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ownerrez.com/oauth/authorize
          tokenUrl: https://api.ownerrez.com/oauth/access_token
          scopes: {}
