openapi: 3.2.0
info:
  title: OwnerRez API v2 Deposits API
  description: The OwnerRez API v2 is a REST/JSON API for the OwnerRez vacation-rental and short-term-rental property management platform.
  version: '2.0'
  contact:
    name: OwnerRez
    url: https://www.ownerrez.com
  termsOfService: https://www.ownerrez.com/legal/terms
servers:
- url: https://api.ownerrez.com/v2
  description: OwnerRez API v2 (production)
security:
- basicAuth: []
- oauth2: []
tags:
- name: Deposits
  description: Security and damage deposits.
paths:
  /deposits:
    get:
      operationId: listDeposits
      tags:
      - Deposits
      summary: List deposits
      description: Returns a paginated list of security/damage deposits.
      parameters:
      - name: booking_id
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/DepositList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /deposits/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getDeposit
      tags:
      - Deposits
      summary: Retrieve a deposit
      description: Retrieves a single deposit by identifier.
      responses:
        '200':
          $ref: '#/components/responses/Deposit'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Deposit:
      description: A deposit.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Deposit'
    DepositList:
      description: A page of deposits.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DepositPage'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        messages:
          type: array
          items:
            type: string
    DepositPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Deposit'
    Page:
      type: object
      description: Common pagination envelope returned by list endpoints.
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        nextPageUrl:
          type:
          - string
          - 'null'
    Deposit:
      type: object
      properties:
        id:
          type: integer
        booking_id:
          type: integer
        amount:
          type: number
        status:
          type: string
        due_utc:
          type: string
          format: date-time
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your OwnerRez API key / Personal Access Token as the username; the password is left blank.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Grant (RFC 6749 Section 4.1). Register an OAuth app in the OwnerRez Developer/API settings, send the user to the authorization URL, then exchange the returned code for an access token.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ownerrez.com/oauth/authorize
          tokenUrl: https://api.ownerrez.com/oauth/access_token
          scopes: {}
