openapi: 3.2.0
info:
  title: OwnerRez API v2 Tags API
  description: The OwnerRez API v2 is a REST/JSON API for the OwnerRez vacation-rental and short-term-rental property management platform.
  version: '2.0'
  contact:
    name: OwnerRez
    url: https://www.ownerrez.com
  termsOfService: https://www.ownerrez.com/legal/terms
servers:
- url: https://api.ownerrez.com/v2
  description: OwnerRez API v2 (production)
security:
- basicAuth: []
- oauth2: []
tags:
- name: Tags
  description: Tag values applied to records.
paths:
  /tags:
    get:
      operationId: listTags
      tags:
      - Tags
      summary: List tag values
      description: Returns tag values applied to records.
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/TagList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTag
      tags:
      - Tags
      summary: Apply a tag
      description: Applies a tag to a record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagInput'
      responses:
        '200':
          $ref: '#/components/responses/Tag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /tags/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getTag
      tags:
      - Tags
      summary: Retrieve a tag value
      description: Retrieves a single tag value by identifier.
      responses:
        '200':
          $ref: '#/components/responses/Tag'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTag
      tags:
      - Tags
      summary: Delete a tag value
      description: Removes a tag value from a record.
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /tags/byname:
    delete:
      operationId: deleteTagByName
      tags:
      - Tags
      summary: Delete a tag by name
      description: Removes a tag from a record by tag name supplied as query parameters.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: entity_id
        in: query
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Tag:
      description: A tag value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Tag'
    Deleted:
      description: Deletion confirmation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteResponse'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TagList:
      description: A page of tag values.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TagPage'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Tag:
      allOf:
      - $ref: '#/components/schemas/TagInput'
      - type: object
        properties:
          id:
            type: integer
          name:
            type: string
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        messages:
          type: array
          items:
            type: string
    TagPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Tag'
    Page:
      type: object
      description: Common pagination envelope returned by list endpoints.
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        nextPageUrl:
          type:
          - string
          - 'null'
    TagInput:
      type: object
      required:
      - tag_definition_id
      - entity_id
      properties:
        tag_definition_id:
          type: integer
        entity_id:
          type: integer
        entity_type:
          type: string
    DeleteResponse:
      type: object
      properties:
        id:
          type: integer
        success:
          type: boolean
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your OwnerRez API key / Personal Access Token as the username; the password is left blank.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Grant (RFC 6749 Section 4.1). Register an OAuth app in the OwnerRez Developer/API settings, send the user to the authorization URL, then exchange the returned code for an access token.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ownerrez.com/oauth/authorize
          tokenUrl: https://api.ownerrez.com/oauth/access_token
          scopes: {}
