openapi: 3.2.0
info:
  title: OwnerRez API v2 Property Search API
  description: The OwnerRez API v2 is a REST/JSON API for the OwnerRez vacation-rental and short-term-rental property management platform.
  version: '2.0'
  contact:
    name: OwnerRez
    url: https://www.ownerrez.com
  termsOfService: https://www.ownerrez.com/legal/terms
servers:
- url: https://api.ownerrez.com/v2
  description: OwnerRez API v2 (production)
security:
- basicAuth: []
- oauth2: []
tags:
- name: Property Search
  description: Availability and criteria search across properties.
paths:
  /propertysearch:
    get:
      operationId: searchProperties
      tags:
      - Property Search
      summary: Search properties by availability and criteria
      description: Searches properties by availability window, occupancy, and other criteria, returning matching properties.
      parameters:
      - name: from
        in: query
        description: Arrival date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: Departure date (YYYY-MM-DD).
        schema:
          type: string
          format: date
      - name: guests
        in: query
        description: Number of guests to accommodate.
        schema:
          type: integer
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/PropertyList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PropertyList:
      description: A page of properties.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PropertyPage'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        messages:
          type: array
          items:
            type: string
    PropertyPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Property'
    Property:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        active:
          type: boolean
        address:
          type: object
          additionalProperties: true
        bedrooms:
          type: integer
        bathrooms:
          type: number
        max_guests:
          type: integer
    Page:
      type: object
      description: Common pagination envelope returned by list endpoints.
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        nextPageUrl:
          type:
          - string
          - 'null'
  parameters:
    Offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your OwnerRez API key / Personal Access Token as the username; the password is left blank.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Grant (RFC 6749 Section 4.1). Register an OAuth app in the OwnerRez Developer/API settings, send the user to the authorization URL, then exchange the returned code for an access token.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ownerrez.com/oauth/authorize
          tokenUrl: https://api.ownerrez.com/oauth/access_token
          scopes: {}
