openapi: 3.2.0
info:
  title: OwnerRez API v2 Reviews API
  description: The OwnerRez API v2 is a REST/JSON API for the OwnerRez vacation-rental and short-term-rental property management platform.
  version: '2.0'
  contact:
    name: OwnerRez
    url: https://www.ownerrez.com
  termsOfService: https://www.ownerrez.com/legal/terms
servers:
- url: https://api.ownerrez.com/v2
  description: OwnerRez API v2 (production)
security:
- basicAuth: []
- oauth2: []
tags:
- name: Reviews
  description: Guest reviews collected for stays and properties.
paths:
  /reviews:
    get:
      operationId: listReviews
      tags:
      - Reviews
      summary: List reviews
      description: Returns a paginated list of guest reviews.
      parameters:
      - $ref: '#/components/parameters/PropertyIds'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/ReviewList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /reviews/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getReview
      tags:
      - Reviews
      summary: Retrieve a review
      description: Retrieves a single review by identifier.
      responses:
        '200':
          $ref: '#/components/responses/Review'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Review:
      description: A review.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Review'
    ReviewList:
      description: A page of reviews.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReviewPage'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        messages:
          type: array
          items:
            type: string
    Review:
      type: object
      properties:
        id:
          type: integer
        property_id:
          type: integer
        booking_id:
          type: integer
        rating:
          type: number
        title:
          type: string
        body:
          type: string
        reviewer_name:
          type: string
        created_utc:
          type: string
          format: date-time
    ReviewPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Review'
    Page:
      type: object
      description: Common pagination envelope returned by list endpoints.
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        nextPageUrl:
          type:
          - string
          - 'null'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
    PropertyIds:
      name: property_ids
      in: query
      description: One or more property identifiers to filter by.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
    Offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your OwnerRez API key / Personal Access Token as the username; the password is left blank.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Grant (RFC 6749 Section 4.1). Register an OAuth app in the OwnerRez Developer/API settings, send the user to the authorization URL, then exchange the returned code for an access token.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ownerrez.com/oauth/authorize
          tokenUrl: https://api.ownerrez.com/oauth/access_token
          scopes: {}
