openapi: 3.2.0
info:
  title: OwnerRez API v2 Properties API
  description: The OwnerRez API v2 is a REST/JSON API for the OwnerRez vacation-rental and short-term-rental property management platform.
  version: '2.0'
  contact:
    name: OwnerRez
    url: https://www.ownerrez.com
  termsOfService: https://www.ownerrez.com/legal/terms
servers:
- url: https://api.ownerrez.com/v2
  description: OwnerRez API v2 (production)
security:
- basicAuth: []
- oauth2: []
tags:
- name: Properties
  description: Rental properties managed in OwnerRez.
paths:
  /properties:
    get:
      operationId: listProperties
      tags:
      - Properties
      summary: List properties
      description: Returns a paginated list of properties.
      parameters:
      - name: include_inactive
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          $ref: '#/components/responses/PropertyList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /properties/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getProperty
      tags:
      - Properties
      summary: Retrieve a property
      description: Retrieves a single property by its identifier.
      responses:
        '200':
          $ref: '#/components/responses/Property'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Property:
      description: A property.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Property'
    PropertyList:
      description: A page of properties.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PropertyPage'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        messages:
          type: array
          items:
            type: string
    PropertyPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/Property'
    Property:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        active:
          type: boolean
        address:
          type: object
          additionalProperties: true
        bedrooms:
          type: integer
        bathrooms:
          type: number
        max_guests:
          type: integer
    Page:
      type: object
      description: Common pagination envelope returned by list endpoints.
      properties:
        count:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        nextPageUrl:
          type:
          - string
          - 'null'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      description: Number of items to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 100
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Supply your OwnerRez API key / Personal Access Token as the username; the password is left blank.
    oauth2:
      type: oauth2
      description: OAuth 2.0 Authorization Code Grant (RFC 6749 Section 4.1). Register an OAuth app in the OwnerRez Developer/API settings, send the user to the authorization URL, then exchange the returned code for an access token.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ownerrez.com/oauth/authorize
          tokenUrl: https://api.ownerrez.com/oauth/access_token
          scopes: {}
